@page
@model Diakok.StatisticsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Statisztikák</h1>


<table class="table">
    <thead class="bg-secondary text-white">
        <tr>
            <th class="text-center">
                Név
            </th>
            <th class="text-center">
                Átlag
            </th>
            <th class="text-center">
                Elégtelen osztályzatok száma
            </th>
            <th class="text-center">
                Legjobb osztályzat
            </th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Average)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.InsufficientCount)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.BestMark)
                </td>
               
               
            </tr>
        }
    </tbody>
</table>

